[submodule "example_WM8731/periph_drivers"]
	path = example_WM8731/periph_drivers
	url = https://github.com/eliteboard/periph_drivers.git
[submodule "example_LT3582/periph_drivers"]
	path = example_LT3582/periph_drivers
	url = https://github.com/eliteboard/periph_drivers.git
[submodule "example_ISL28023/periph_drivers"]
	path = example_ISL28023/periph_drivers
	url = https://github.com/eliteboard/periph_drivers.git

[submodule "DAC_ADC_TIM_sync_single_burst/periph_drivers"]
	path = DAC_ADC_TIM_sync_single_burst/periph_drivers
	url = https://github.com/eliteboard/periph_drivers.git
